{% extends 'base.html.twig' %}

{% block title %}New Cartas{% endblock %}

{% block body %}
    <h1>Create new Cartas</h1>

    {{ include('cartas/_form.html.twig') }}

    <a href="{{ path('cartas_index') }}">back to list</a>
{% endblock %}
